<div class="test">
<mat-card class="example-card">
  <label for=""> LOGIN </label>
  <mat-form-field floatLabel="auto" appearance="outline">
  <mat-label for="name"> First Name</mat-label>
    <input id="name" type="text" [formControl]="name" matInput apperance="outline">
    <mat-hint align="end" style="color: gray;"> First Name </mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="auto" appearance="outline">
  <mat-label for="Lname"> Last Name</mat-label>
    <input id="Lname" type="text" [formControl]="Lname" matInput apperance="outline">
    <mat-hint align="end" style="color: gray;"> Last Name </mat-hint>
  </mat-form-field>

  <mat-form-field floatLabel="auto" appearance="outline">
    <mat-label for="email"> Email</mat-label>
      <input id="email" type="email" [formControl]="email" matInput apperance="outline">
      <mat-hint align="end" style="color: gray;"> Email </mat-hint>
    </mat-form-field>

    <mat-form-field floatLabel="auto" appearance="outline">
      <mat-label for="Username"> Username</mat-label>
        <input id="Username" type="text" [formControl]="Username" matInput apperance="outline">
        <mat-hint align="end" style="color: gray;"> Username </mat-hint>
      </mat-form-field>

      <mat-form-field floatLabel="auto" appearance="outline">
        <mat-label for="Password"> Password</mat-label>
          <input id="Password" type="text" [formControl]="Password" matInput apperance="outline">
          <mat-hint align="end" style="color: gray;"> Password </mat-hint>
        </mat-form-field>

        
        <mat-card-actions>
          <button mat-raised-button style="padding-inline: 40px; padding-block: 20px;" color="primary">
            Send
          </button>
        </mat-card-actions>

          <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
        
        
      </mat-card>




</div>
