@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.test {
    display: flex;
    justify-content: center;
    align-self: center;
}

.example-card {
    
    margin-block: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding-inline: 40px;
    padding-block: 20px;

}

